.app {
  text-align: center;
  padding: 1em;
  padding-bottom: 3em;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.app-container {
  width: 100%;
  max-width: 996px;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-size: 2em;
  margin: 0;
  margin-bottom: 10px;
}

.desc {
  font-size: smaller;
  margin: 0;
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
}

ul.menu li {
  display: inline;
  margin: 0 0.5em;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  line-height: 3em;
  color: rgb(171, 171, 171);
  font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
  .app-container {
    margin-top: 4em;
  }
}
